body { background: #cc03f8; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 25px; display: flex; }
.block-logger-0 { color: #50813c; font-size: 21px; margin-bottom: 5px; }
.block-auth-1 { color: #146531; font-size: 16px; margin-bottom: 5px; }
.block-notify-2 { color: #abc839; font-size: 19px; margin-bottom: 5px; }
.block-invoice-3 { color: #a6c736; font-size: 19px; margin-bottom: 5px; }
.block-notify-4 { color: #160dfc; font-size: 16px; margin-bottom: 5px; }
.block-token-5 { color: #e4b7a0; font-size: 15px; margin-bottom: 5px; }
.block-database-6 { color: #2922a1; font-size: 18px; margin-bottom: 5px; }